

<div class="content">
    <h1> Treasure Hunt </h1>

    <h2>Objective:</h2>
    <p>
    Design and implement a Ruby on Rails-based Treasure Hunt game that revolves around a
    RESTful API. The primary goal is to evaluate your ability to create an interactive game, handle
    user input, implement game logic, and ensure security within the Ruby on Rails framework.
    User Interaction:
    Users can submit guesses for the treasure's location through the REST API.
    <p>


    <h2>Game Logic:</h2>
    <p>
    Calculate the distance between user-submitted coordinates and the actual treasure location.
    If the distance is less than 1000 meters, mark the user as a winner.
    Send an email confirmation to the user when they become a winner.
    A user can become a winner only once.
    </p>

    <h2>Winner List Endpoint:</h2>
    <p>
    Implement an API endpoint allowing users to fetch a list of winners sorted by distance.
    Optionally include sorting options (ascending, descending) and pagination.
    </p>

    <h2>Technology Stack:</h2>
    <p>
    Use Ruby on Rails as the web framework.
    Choose a suitable database or data store (e.g., PostgreSQL, MySQL) for storing game data
    securely.
    You can use any library.
    </p>

    <h2>Submission:</h2>
    <p>Upload your implementation to a GitHub repository</p>
</div>