<!-- app/views/user_mailer/winner_confirmation_email.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Winner Confirmation</title>
</head>
<body>
  <h1>Congratulations!</h1>
  <p>You are a winner!</p>
</body>
</html>